# dependencies
/backend/node_modules
/frontend/node_modules

# testing
/coverage

# production
/build
/frontend/build
/frontend/dist

# misc
.pnp
.pnp.js

.DS_Store
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
